/**********************/
/* Global CSS classes */
/**********************/
.titled-pane {
    -fx-animated: true;
    -fx-collapsible: true;
}

.titled-pane .title {
    -fx-background-color: black;
}

.titled-pane .title .text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-bar {
    -fx-background-color: black;
}

.menu-bar .label {
    -fx-text-fill: white;
}

/**********************/
/* Custom CSS classes */
/**********************/
.drone-feed-content {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-radius: 0 0 5 5; /* top-left, top-right, bottom-right, and bottom-left corners */
    -fx-border-radius: 0 0 5 5;
}

.drone-feed-pane {
    -fx-background-color: black;
}

.drone-feed-label {
    -fx-text-fill: white;
}

.layers-window-content {
    -fx-background-color: #666666;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-radius: 0 0 5 5; /* top-left, top-right, bottom-right, and bottom-left corners */
    -fx-border-radius: 0 0 5 5;
}

.layers-window-content-menu-box {
    -fx-background-color: #8a8a8a;
}

.layers-window-content-menu-label {
    -fx-border-style: none solid none none; /* Top, right, bottom, left. */
    -fx-border-width: 0 1 0 0;
    -fx-border-color: black;
    -fx-background-color: #8a8a8a;
    -fx-text-fill: white;
}

.layers-window-content-menu-separator {
    -fx-border-style: none none solid none; /* Top, right, bottom, left. */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.layers-window-content-button {
    -fx-background-color: transparent;
}

.map-feed-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.map-feed-pane {
    -fx-background-color: black;
}

/*************************/
/* Video Tab CSS classes */
/*************************/

.video-rect {
    -fx-fill: black;
    -fx-opacity: 0.60;
    -fx-radius: 0;
}

.video-indicator-circ {
    -fx-fill: #CB2F2F;
}

.video-label {
    -fx-text-fill: #FFFFFF;
}

.video-back-button {
    -fx-background-color:black;
    -fx-background-radius: 0;
    -fx-opacity: 0.60;
}

.video-back-button:pressed {
    -fx-opacity: 0.75;
}

.stat-bar .label {
    -fx-text-fill: #FFFFFF;
}

.settings-window-content {
    -fx-background-color: #666666;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-radius: 0 0 5 5; /* top-left, top-right, bottom-right, and bottom-left corners */
    -fx-border-radius: 0 0 5 5;
}

.settings-window-information-box {
    -fx-background-color: #8a8a8a;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.settings-window-information-label {
    -fx-text-fill: black;
}

.settings-window-drop-down {
    -fx-background-color: #8a8a8a;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.settings-window-button-mark {
    -fx-background-color: #38b6ff;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.settings-window-button-neutral {
    -fx-background-color: #8a8a8a;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.settings-window-button-positive {
    -fx-background-color: #1fff4b;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.settings-window-button-negative {
    -fx-background-color: #ff5252;
    -fx-border-style: solid solid solid solid; /* Top, right, bottom, left. */
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}