/**********************/
/* Global CSS classes */
/**********************/
.titled-pane {
    -fx-animated: true;
    -fx-collapsible: true;
}

.titled-pane .title {
    -fx-background-color: black;
}

.titled-pane .title .text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/**********************/
/* Custom CSS classes */
/**********************/
.drone-feed-pane {
    -fx-background-color: black;
}

.drone-feed-label {
    -fx-text-fill: white;
}

.layers-window-content {
    -fx-background-color: black;
    -fx-border-width: 2;
    -fx-border-color: black;
}

.layers-window-content-menu-box {
    -fx-background-color: #666666;
}

.layers-window-content-menu-label {
    -fx-border-style: none solid none none; /* Top, right, bottom, left. */
    -fx-border-width: 0 2 0 0;
    -fx-border-color: black;
    -fx-background-color: #666666;
    -fx-text-fill: white;
}

.layers-window-content-menu-separator {
    -fx-border-style: none none solid none; /* Top, right, bottom, left. */
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black;
}

.layers-window-content-button {
    -fx-background-color: transparent;
}

.map-feed-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.map-feed-pane {
    -fx-background-color: black;
}

/*************************/
/* Video Tab CSS classes */
/*************************/

.video-rect {
    -fx-fill: black;
    -fx-opacity: 0.60;
    -fx-radius: 0;
}

.video-indicator-circ {
    -fx-fill: #CB2F2F;
}

.video-label {
    -fx-text-fill: #FFFFFF;
}

.video-back-button {
    -fx-background-color:black;
    -fx-background-radius: 0;
    -fx-opacity: 0.60;
}

.video-back-button:pressed {
    -fx-opacity: 0.75;
}